body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u98 {
  position:absolute;
  left:35px;
  top:100px;
  width:450px;
  height:800px;
}
#u99 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u100 {
  position:absolute;
  left:531px;
  top:100px;
  width:450px;
  height:800px;
}
#u101 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u102 {
  position:absolute;
  left:1014px;
  top:100px;
  width:450px;
  height:800px;
}
#u103 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:345px;
  top:174px;
  width:132px;
  height:54px;
}
#u105 {
  position:absolute;
  left:2px;
  top:19px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:1397px;
  top:175px;
  width:67px;
  height:54px;
}
#u107 {
  position:absolute;
  left:2px;
  top:19px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:836px;
  top:175px;
  width:132px;
  height:54px;
}
#u109 {
  position:absolute;
  left:2px;
  top:19px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:203px;
}
#u110 {
  position:absolute;
  left:411px;
  top:228px;
  width:2px;
  height:200px;
}
#u111 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1014px;
  height:5px;
}
#u112 {
  position:absolute;
  left:413px;
  top:427px;
  width:1011px;
  height:2px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:203px;
}
#u114 {
  position:absolute;
  left:901px;
  top:228px;
  width:2px;
  height:200px;
}
#u115 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:212px;
}
#u116p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:202px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u116p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:224px;
  height:14px;
}
#u116p001 {
  position:absolute;
  left:-9px;
  top:-7px;
  width:20px;
  height:20px;
}
#u116p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:32px;
}
#u116.compound {
  width:0px;
  height:0px;
}
#u116 {
  position:absolute;
  left:1423px;
  top:229px;
  width:2px;
  height:200px;
}
#u117 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:1397px;
  top:730px;
  width:67px;
  height:54px;
}
#u119 {
  position:absolute;
  left:2px;
  top:19px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:314px;
}
#u120p000 {
  position:absolute;
  left:-152px;
  top:150px;
  width:306px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u120p000_img {
  position:absolute;
  left:-7px;
  top:-6px;
  width:328px;
  height:14px;
}
#u120p001 {
  position:absolute;
  left:-9px;
  top:290px;
  width:20px;
  height:20px;
}
#u120p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:40px;
  height:32px;
}
#u120.compound {
  width:0px;
  height:0px;
}
#u120 {
  position:absolute;
  left:1423px;
  top:427px;
  width:2px;
  height:303px;
}
#u121 {
  position:absolute;
  left:2px;
  top:144px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:1286px;
  top:395px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:35px;
  top:8px;
  width:289px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
